{% extends 'base.html.twig' %}

{% block title %}Question index
{% endblock %}

{% block body %}

<h1>Administration des questions et des réponses</h1>

<a href="{{ path('app_question_new') }}">Créer une nouvelle question</a>

{% for question in questions %}
	<h5>Question n°
		{{ question.id }}</h5>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Tuto n°</th>
				<th>Content</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ question.id }}</td>
				<td>{{ question.tutoriel.id }}</td>
				<td>{{ question.content }}</td>
				<td>
					<a href="{{ path('app_question_show', {'id': question.id}) }}">Voir</a>
					<a href="{{ path('app_question_edit', {'id': question.id}) }}">Éditer</a>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="table">
		<h6>Réponses associées</h6>
		<thead>
			<tr>
				<th>Id</th>
				<th>Question n°</th>
				<th>Content</th>
				<th>actions</th>
			</tr>
		</thead>

		{% for answer in questions.0.answers %}
			<tbody>
				<tr>
					<td>{{ answer.id }}</td>
					<td>{{ answer.question.id }}</td>
					<td>{{ answer.content }}</td>
					<td>
						<a href="{{ path('app_answer_show', {'id': answer.id}) }}">Voir</a>
						<a href="{{ path('app_answer_edit', {'id': answer.id}) }}">Éditer</a>
					</td>
				</tr>
			</tbody>

		{% endfor %}
	</table>
{% else %}
	<table class="table">
		<thead>
			<tr>
				<td colspan="3">no records found</td>
			</tr>
		</thead>
	</tbody>
</table>{% endfor %}{% endblock %}
