{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
    <h1>Index des commentaires</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id du tutoriel</th>
                <th>Texte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.tutoriel.id }}</td>
                <td>{{ comment.text }}</td>
                <td>
                    <a href="{{ path('app_comment_show', {'id': comment.id}) }}">Voir</a>
                    <a href="{{ path('app_comment_edit', {'id': comment.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
