{% extends 'base.html.twig' %}

{% block title %}Comment index
{% endblock %}

{% block body %}
	<a class="siteButton" href="{{ path('app_admin') }}" title="retour">Retour au panneau général</a>

	<h1>Administration des commentaires</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Id du tutoriel</th>
				<th>Texte</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for comment in comments %}
				<tr>
					<td>{{ comment.id }}</td>
					<td>{{ comment.tutoriel.id }}</td>
					<td>{{ comment.text|raw }}</td>
					<td class="text-end">
						<div class="d-inline-flex">
							<div class="d-flex align-self-center p-2">
								<a class="showButton"
                                   href="{{ path('app_comment_show', {'id': comment.id}) }}" title="voir">Voir</a>
							</div>
							<div class="d-flex align-self-center p-2">
								<a class="editButton"
                                   href="{{ path('app_comment_edit', {'id': comment.id}) }}"
                                   data-no-swup=""
                                   title="Editer">Éditer</a>
							</div>
							<div class="d-flex align-self-center p-2">
								{{ include('comment/_delete_form.html.twig') }}
							</div>
						</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
