<footer>

	<div class="container d-flex align-items-center">
		<div class="mb-3">
			<a class="d-flex align-items-center text-decoration-none" href="/" title="La ligne bleue">
				<img src="{{ asset('build/images/laposte.png') }}" alt="logo" id="logo">
			</a>

		</div>

		<div class="mx-auto">
			<div class="divAFooter d-flex align-content-center align-items-center mx-auto flex-wrap">
				<a class="aFooter" title="Plan du site" href="{{ path('page_show', { "slug" : 'Plan-du-site' })}}">Plan du site</a>
				<a class="aFooter" title="mentions contractuelles" href="{{ path('page_show', { "slug" : 'Mentions-contractuelles' })}}">Mentions contractuelles</a>
				<a class="aFooter" title="mentions légales" href="{{ path('page_show', { "slug" : 'Mentions-legales' })}}">Mentions légales</a>
				<a class="aFooter" title= "données personnelles et cookies" href="{{ path('page_show', { "slug" : 'Donnees-personnelles-et-cookies' })}}">Données personnelles et cookies</a> 
				{% if app.user %}
					<a class="bugSignal" title="signaler un bug" href="{{ path('app_ticket_new') }}">Signaler un bug</a>
					
				{% endif %}
			</div>
			<ul class="list-unstyled small text-center">
				<li class="mb-2 ms-4 copyright">Copyright © 2023</li>
			</ul>

		</div>
	</div>
</footer>
