<nav class="mainnav d-flex align-items-center px-2">
    <div class="container d-flex align-items-center p-2 w-90">

        <a href="{{ app.user ? path('app_category_index') : path('app_landing') }}" class="logonavbar fs-2"
           title="accueil">La Ligne Bleue</a>

        <div class="d-inline-flex mt-2">

            <ul class="d-inline-flex align-items-center mb-2 p-0">

                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('app_category_index') }}"
                           title="page d'accueil">
                            <i class="fa-solid fa-home fa-2x"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_favoris') }}" title="mes favoris">
                            <i class="fa-solid fa-star fa-2x"></i>
                        </a>
                    </li>
                {% endif %}

                {% if is_granted("ROLE_ADMIN") %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin') }}" title="administration">
                            <img src="{{ asset('build/images/administrateur.png') }}" alt="Admin">
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="p-2 flex-shrink-1 me-1">
        <ul class="d-inline-flex mb-2">
            {% if app.user %}
                <li class="list-unstyled">
                    <a class="connexion"
                       title="se déconnecter"
                       href="{{ path('app_logout') }}"
                       data-no-swup=""
                    >
                        <strong>Se déconnecter</strong>
                    </a>
                </li>
            {% else %}
                <li class="list-unstyled">
                <a class="connexion"
                   title="se connecter"
                   href="{{ path('app_login') }}"
                   data-no-swup=""
                >
                    <strong>Se connecter</strong>
                </a>

                </li>
            {% endif %}
        </ul>
    </div>
</nav>
