<nav class="mainnav navbar navbar-expand-lg">
	<div class="container-fluid">

		<a class="logonavbar navbar-brand fs-2 ms-2 me-5" href="#">La Ligne Bleue</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{{ path('app_category_index') }}"><img class="w-50 ms-2" src="{{ asset('build/images/home.png') }}" alt="Home"></a>

				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><img class="w-50" src="{{ asset('build/images/star.png') }}" alt="Favorite"></a>

				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><img class="w-50" src="{{ asset('build/images/carres.png') }}" alt="Tuto"></a>
				</li>
                {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item">
					<a class="nav-link" href="{{ path('app_admin') }}"><img class="w-50" src="{{ asset('build/images/administrateur.png') }}" alt="Admin"></a>
				</li>
                {% endif %}
			</ul>
			<form class="formsearch d-flex " role="search">
				<input class="form-control me-2" type="search" placeholder="Rechercher un tutoriel" aria-label="Search">
				<button class="btn btn-outline-light" type="submit">Rechercher</button>
			</form>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if app.user %}
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}"><img class="w-50" src="{{ asset('build/images/sign-out.png') }}" alt="SignOut"></a>
				</li>
				<li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('app_login') }}"><img class="w-50" src="{{ asset('build/images/user.png') }}" alt="User">
							Se connecter</a>
					</li>
					<li>
					{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</nav>
