<nav class="mainnav navbar navbar-expand-lg">
	<div class="container-fluid">
		<a href="#" class="logonavbar navbar-brand fs-2">La Ligne Bleue</a>
		<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
			<span class="navbar-toggler-icon navbar-dark"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
			<div class="threeicons navbar-nav">
				<a class="nav-item nav-link" aria-current="page" href="#"><img class="w-50 ms-2" src="{{ asset('build/images/home.png') }}" alt="Home"></a>
				<a class="nav-item nav-link" href="#"><img class="w-50" src="{{ asset('build/images/star.png') }}" alt="Favorite"></a>
				<a class="nav-item nav-link" href="#"><img class="w-50" src="{{ asset('build/images/carres.png') }}" alt="Tuto"></a>
			</div>
			<form class="d-flex">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Rechercher">
					<button type="button" class="btn btn-secondary">
						<i class="bi-search"></i>
					</button>
				</div>
			</form>
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="#"><img class="userIcone w-50" src="{{ asset('build/images/user.png') }}" alt="User"></a>
				<a class="nav-item nav-link" href="#"><img class="signOutIcone w-50" src="{{ asset('build/images/sign-out.png') }}" alt="SignOut"></a>
			</div>
		</div>
	</div>
</nav>
