{% extends 'base.html.twig' %}

{% block title %}Tutoriel
{% endblock %}

{% block body %}
	<div class="containerButtonCentered">
		<a class="siteButton" href="{{ path('app_category_index') }}" title="retour">
			Revenir à la page précédente
		</a>
	</div>

	<h1>Recherchez votre tutoriel</h1>

	<div class="searchForm d-flex justify-content-center flex-row">
		{{ form_start(form) }}

		<div class="input-group mb-3">
			{{ form_widget(form.search) }}
			<button class="btn btn-warning" title="rechercher">Rechercher</button>
		</div>
		{{ form_end(form) }}
	</div>

	<div class="container">
		<div class="containerCards">

			{% for tutoriel in tutoriels %}

				<div class="col-lg-3 col-md-4 p-2">
					<div class="card h-100">
						<div class="card-body d-flex flex-column">
							<div class="text-center">
								{{ component('favori', {
													tutoriel: tutoriel
												})}}
								<h5 class="mt-3">{{tutoriel.title}}</h5>
								{{component('badge', {
													tutoriel: tutoriel
												})}}
							</div>
							<p class="card-text">{{tutoriel.description}}</p>
							<a class="showButton mt-auto" href="{{ path('level_tutoriel_show', {"category_slug": categories.0.slug, "tutoriel_slug" : tutoriel.slug }) }}" class="card-link" title="voir">Voir la fiche</a>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>

{% endblock %}
