{% extends 'base.html.twig' %}

{% block title %}Tutoriel
{% endblock %}

{% block body %}

	<h1>{{category.label}}</h1>

	{% for level in levels %}
		<div class="accordion" id="accordionExample">
			<div class="accordion-item">
				<h2 class="accordion-header" id="heading{{level.id}}">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{level.id}}" aria-expanded="true" aria-controls="collapseOne">
						<h3>{{level.name}}</h3>
					</button>
				</h2>
				<div id="collapse{{level.id}}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						{% for tutoriel in tutoriels %}
							{% if level.name == tutoriel.level.name %}
								<div class="d-inline-flex p-2">
									<div class="card" style="width: 18rem;">
										<div class="card-body">
											<h5 class="card-title">{{tutoriel.title}}</h5>
											<h6 class="card-subtitle mb-2 text-muted">{{tutoriel.id}}</h6>
											<p class="card-text">{{tutoriel.description}}</p>
											<a href="{{ path('level_tutoriel_show', {"category_slug": category.slug, "tutoriel_slug" : tutoriel.slug }) }}" class="card-link">Voir la fiche
												{{tutoriel.title}}</a>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
            </div>
        </div>
		{% endfor %}

{% endblock %}
