{% extends 'base.html.twig' %}

{% block title %}Tutoriel
{% endblock %}


{% block body %}
<pre>
    {# {{ dump(games) }}
    {{ dump(gameAnswers) }}
        {{ dump(app.user) }} #}
        {{ dump(tutoriels) }}
        {{ dump(tutoriels.2.questions.0.answers) }}
        {{ dump(tutoriels.2.questions.0.answers.owner.gameAnswers.0.answer.id) }}
        {{ dump(tutoriels.2.questions.0.answers.0.iscorrect) }}
        {{ dump(tutoriels.2.questions.0.answers.0.id) }}
</pre>

	<h1>{{category.label}}</h1>

{# {% if app.user.games %}
    {% if answer.iscorrect && gameAnswer.answer.id == answer.id %}
    <img class="w-50" src="{{ asset('build/images/circle-check-solid.svg') }}">
    {% else %}
    <img class="w-50" src="{{ asset('build/images/circle-xmark-solid.svg') }}">
{% endif %} #}

	{% for level in levels %}
		<div class="accordion" id="accordionExample">
			<div class="accordion-item">
				<h2 class="accordion-header" id="heading{{level.id}}">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{level.id}}" aria-expanded="true" aria-controls="collapseOne">
						<h3>{{level.name}}</h3>
					</button>
				</h2>
				<div id="collapse{{level.id}}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						{% for tutoriel in tutoriels %}
							{% if level.name == tutoriel.level.name %}
								<div class="d-inline-flex p-2">
									<div class="card" style="width: 18rem;">
										<div class="card-body">
											<h5 class="card-title">{{tutoriel.title}}</h5>
											<h6 class="card-subtitle mb-2 text-muted">{{tutoriel.id}}</h6>
											<p class="card-text">{{tutoriel.description}}</p>
											<a href="{{ path('level_tutoriel_show', {"category_slug": category.slug, "tutoriel_slug" : tutoriel.slug }) }}" class="card-link">Voir la fiche
												{{tutoriel.title}}</a>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
            </div>
        </div>
		{% endfor %}

{% endblock %}
