{% extends 'base.html.twig' %}

{% block title %}Tutoriel
{% endblock %}

{% block body %}

	{% if gameAnswers %}

		{% if gameAnswers.answer.iscorrect == true %}

			<img class="w-50" src="{{ asset('build/images/circle-check-solid.svg') }}">
			<p>validé</p>

		{% else %}
			<img class="w-50" src="{{ asset('build/images/circle-xmark-solid.svg') }}">
			<p>faux</p>

		{% endif %}
	{% endif %}

	{% if is_granted("ROLE_ADMIN") %}
		<ul>
			<li><a href="{{path('app_tutoriel_edit',{'id':tutoriel.id})}}">Éditer le tutoriel</a></li>
			<li><a href="{{path('app_tutoriel_delete',{'id':tutoriel.id})}}">Supprimer le tutoriel</a></li>
		</ul>
	{% endif %}

	<h1>Tutoriel
		{{tutoriel.title}}</h1>

	<p>{{ tutoriel.content }}</p>

	<h2>question</h2>

	<form>
		<p>{{tutoriel.questions.0.content}}</p>

		{% for answer in tutoriel.questions.0.answers %}
			<div>
				<input type="radio" id="answer_{{answer.id}}" name="answer" value="{{answer.id}}">
				<label for="answer_{{answer.id}}">{{answer.content}}</label>
			</div>
		{% endfor %}

		<div>
			<button type="submit">Valider ma réponse</button>
		</div>
	</form>


	<br>
	<br>
	<a href="{{ path('category_level_show', {'slug': category.slug}) }}">
		<button>Revenir à la page précédente</button>
	</a>

	<br>
	<br>
	{% if app.user %}

		<h2>Ajouter un commentaire</h2>
		{{ form_start(formComment) }}
		{{ form_widget(formComment) }}
		<br>
		<button type="submit">Ajouter un commentaire</button>
		<br>
		{{ form_end(formComment) }}
	{% endif %}

	<br><br>

	{% for comment in tutoriel.comments %}

		<div>
			<h3>Postée par:
				{{comment.user.firstname}}
				le
				{{comment.postedat.format('d/m/Y')}}</h3>
			<div>
				<p>{{comment.text|raw}}</p>
			</div>
			{% if is_granted("ROLE_ADMIN") or comment.user == app.user %}
				<a href="{{ path('app_comment_edit', {'id': comment.id}) }}">Editer</a>
			{% endif %}
		</div>
	{% endfor %}

{% endblock %}
