{% extends 'base.html.twig' %}

{% block title %}Interface Admin
{% endblock %}

{% block body %}

	<h1>Panneau d'administration des contenus</h1>

<table class="adminPanelTable mt-5">

		<thead>
			<tr>
				<th>Fonctionnalité</th>
				<th>Description</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Categories</td>
				<td>Gestion des catégories des tutoriels disponibles</td>
				<td>
					<a class="siteButton me-2" href="{{ path('admin_app_category_index') }}" title="gérer les catégories">Gérer</a>

				</td>
			</tr>
			<tr>
				<td>Fiches Tutoriel</td>
				<td>Gestion des fiches tutoriels et de leurs quizz</td>
				<td>
					<a class="siteButton" href="{{ path('app_tutoriel_index') }}" title="gérer les tutoriels">Gérer</a>

				</td>
			</tr>
			<tr>
				<td>Commentaires</td>
				<td>Gestion des commentaires envoyés par les utilisateurs</td>
				<td>
					<a class="siteButton" href="{{ path('app_comment_index') }}" title="gérer les commentaires">Gérer</a>

				</td>
			</tr>
			<tr>
				<td>Tickets</td>
				<td>Gestions des tickets de bugs repportés par les utilisateurs</td>
				<td>
					<a class="siteButton" href="{{ path('admin_app_ticket_index') }}" title="gérer les tickets de bugs">Gérer</a>

				</td>
			</tr>
			<tr>
				<td>Utilisateurs</td>
				<td>Gestions des utilisateurs</td>
				<td>
					<a class="siteButton" href="{{ path('app_user_index') }}" title="gérer les utilisateurs">Gérer</a>

				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
